<div id="content" class="mw-body" role="main">
  <a id="top"></a>

  <div class="mw-indicators mw-body-content">
  </div>
  <h1 id="firstHeading" class="firstHeading" lang="en-GB">Event Major Category Form</h1>
  <div id="bodyContent" class="mw-body-content">
    <div id="siteSub">Da wiki assyst10SP7Wiki</div>
    <div id="contentSub" lang="pt" dir="ltr"></div>
    <div id="jump-to-nav" class="mw-jump">
      Ir para: <a href="#mw-head">navegação</a>, <a href="#p-search">pesquisa</a>
    </div>
    <div id="mw-content-text" lang="en-GB" dir="ltr" class="mw-content-ltr">
      <p>This form is accessed from the <b>Event Major Category</b> option of the <b>assyst Infrastructure</b> sub-menu
        of the <b>Configuration</b> menu.
      </p>
      <p>For <a href="/assyst10SP7Wiki/index.php/Event_Management" title="Event Management">Event Management</a> every
        Incident, Problem, Change or Service Request that you log in assyst must have a category describing what kind of
        Event it is. You define these categories using the Event Major Categories Form and the Event Categories Form.
      </p>
      <h3><span class="mw-headline" id="Event_Categories">Event Categories</span></h3>
      <p><a href="/assyst10SP7Wiki/index.php/Event_Categories" class="mw-redirect" title="Event Categories">Event
          Categories</a> are arranged in a two level structure:
      </p>
      <ul>
        <li><b>Event Major Categories</b> - Do not confuse these with Major Events. Event Major Categories are a general
          class of categorization of Events, such as FAULTS, REQUESTS, CHANGES, TASKS, COMPLAINT/COMPLEMENT, CAUSE.
          Event Major Categories are available as a filter when creating a Query Profile and also provide a useful role
          in reporting.</li>
        <li><b>Event Categories</b> - These are more specific and represent the issues that may be reported, such as
          ACCESS ISSUE, PASSWORD ISSUE, BLUE SCREEN, PRINTING ISSUE. Each Event Category will be associated with an
          Event Major Category on the <a href="/assyst10SP7Wiki/index.php/Event_Category_Form"
            title="Event Category Form">Event Category Form</a>.</li>
      </ul>
      <p>An Event Category will not be visible in any Event Logging Form until it is associated with at least one <a
          href="/assyst10SP7Wiki/index.php/Event_Builder" title="Event Builder">Event Builder</a>.
      </p>
      <h2><span class="mw-headline" id="assyst_Toolbar">assyst Toolbar</span></h2>
      <p>An <a href="/assyst10SP7Wiki/index.php/assyst_Toolbar_on_Management_Forms"
          title="assyst Toolbar on Management Forms">assyst Toolbar</a> is provided at the top of the form, with access
        buttons to the basic functions you need to handle assyst management forms, including opening, saving and
        deleting data records, adding attachments and navigating through a series of records.
      </p>
      <p>For details on how to manipulate this form, see <a href="/assyst10SP7Wiki/index.php/Working_with_assyst_Forms"
          title="Working with assyst Forms">Working with assyst Forms</a>. If you are a keyboard user, you can find out
        which keyboard combinations can be used to interact with any elements on this form by visiting <a
          href="/assyst10SP7Wiki/index.php/Using_keyboard_interactions_to_operate_the_assyst_Web_Client"
          title="Using keyboard interactions to operate the assyst Web Client">Using keyboard interactions to operate
          the assyst Web Client</a>.
      </p>
      <h2><span class="mw-headline" id="Main">Main</span></h2>
      <div class="thumb tright">
        <div class="thumbinner" style="width:302px;"><a
            href="/assyst10SP7Wiki/index.php/File:EventMajorCategories01.png" class="image"><img alt=""
              src="/assyst10SP7Wiki/images/thumb/e/e1/EventMajorCategories01.png/300px-EventMajorCategories01.png"
              width="300" height="38" class="thumbimage"
              srcset="/assyst10SP7Wiki/images/thumb/e/e1/EventMajorCategories01.png/450px-EventMajorCategories01.png 1.5x, /assyst10SP7Wiki/images/thumb/e/e1/EventMajorCategories01.png/600px-EventMajorCategories01.png 2x"></a>
          <div class="thumbcaption">
            <div class="magnify"><a href="/assyst10SP7Wiki/index.php/File:EventMajorCategories01.png" class="internal"
                title="Enlarge"></a></div>Event Major Category Form
          </div>
        </div>
      </div><b>Shortcode</b> <a href="/assyst10SP7Wiki/index.php/File:WebMandatoryIcon01.png" class="image"
        title="Mandatory field"><img alt="Mandatory field"
          src="/assyst10SP7Wiki/images/thumb/4/4c/WebMandatoryIcon01.png/12px-WebMandatoryIcon01.png" width="12"
          height="12" srcset="/assyst10SP7Wiki/images/4/4c/WebMandatoryIcon01.png 1.5x"></a>
      <p>The identifier of the Major Category. For example; PRINTER PROB, HD CRASH.
      </p>
      <p><b>Name</b> <a href="/assyst10SP7Wiki/index.php/File:WebMandatoryIcon01.png" class="image"
          title="Mandatory field"><img alt="Mandatory field"
            src="/assyst10SP7Wiki/images/thumb/4/4c/WebMandatoryIcon01.png/12px-WebMandatoryIcon01.png" width="12"
            height="12" srcset="/assyst10SP7Wiki/images/4/4c/WebMandatoryIcon01.png 1.5x"></a>
      </p>
      <p>The full name of the Major Category. For example; Printer Problem, Hard Disk Crash.
      </p>
      <p><b>Discontinued</b>
      </p>
      <p>Set this checkbox when you want to indicate that this record is no longer in use, but do not want to delete the
        record. You can still access discontinued records in searches by checking the <b>Show Discontinued</b> option on
        assyst Search Forms. In search results, discontinued records are shown with a line drawn through them, allowing
        you to visually distinguish them from active records.
      </p>
      <p><b>Remarks</b>
      </p>
      <p>The <a href="/assyst10SP7Wiki/index.php/Remarks_Field" title="Remarks Field">Remarks Field</a> allows you to
        enter any notes you wish to make to this record. You can check the spelling of your text input by making use of
        your Web browser's own spell-checking capability (see <a href="/assyst10SP7Wiki/index.php/Using_the_Spell_Check"
          title="Using the Spell Check">Using the Spell Check</a>).
      </p>
      <div class="noprint">
        <div class="LanguageLinks">
          <table width="100%">
            <tbody>
              <tr valign="top" style="background: #EEF3E2">
                <td style="width: 25px; padding-left: 0.5em;"><a
                    href="/assyst10SP7Wiki/index.php/File:Geographylogo.png" class="image" title="Languages"><img
                      alt="Languages" src="/assyst10SP7Wiki/images/thumb/5/59/Geographylogo.png/25px-Geographylogo.png"
                      width="25" height="25"
                      srcset="/assyst10SP7Wiki/images/thumb/5/59/Geographylogo.png/38px-Geographylogo.png 1.5x, /assyst10SP7Wiki/images/thumb/5/59/Geographylogo.png/50px-Geographylogo.png 2x"></a>
                </td>
                <td
                  style="width: 10px; white-space: nowrap; padding: 4px 1em 0 0.5em; border-right: 1px solid #aaaaaa;">
                  <b><a href="/assyst10SP7Wiki/index.php/assyst10SP7Wiki:Language_policy"
                      title="assyst10SP7Wiki:Language policy">Languages</a>:</b>&nbsp;</td>
                <td style="padding: 1px 1em 0; background: #F6F9ED;">
                  <p><b><a class="mw-selflink selflink">English</a></b>
                    &nbsp;•&nbsp;<span lang="de"><a href="/assyst10SP7Wiki/index.php/Event_Major_Category_Form/de"
                        class="mw-redirect" title="Event Major Category Form/de">Deutsch</a></span>
                    &nbsp;•&nbsp;<span lang="fr"><a href="/assyst10SP7Wiki/index.php/Event_Major_Category_Form/fr"
                        class="mw-redirect" title="Event Major Category Form/fr">français</a></span>
                    <span></span>
                    &nbsp;•&nbsp;<span lang="zh"><a href="/assyst10SP7Wiki/index.php/Event_Major_Category_Form/zh"
                        class="mw-redirect" title="Event Major Category Form/zh">中文</a></span>
                    &nbsp;•&nbsp;<span lang="th"><a href="/assyst10SP7Wiki/index.php/Event_Major_Category_Form/th"
                        class="mw-redirect" title="Event Major Category Form/th">ไทย</a></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 
NewPP limit report
Cached time: 20200813190106
Cache expiry: 86400
Dynamic content: false
CPU time usage: 0.028 seconds
Real time usage: 0.032 seconds
Preprocessor visited node count: 121/1000000
Preprocessor generated node count: 350/1000000
Post‐expand include size: 3099/2097152 bytes
Template argument size: 634/2097152 bytes
Highest expansion depth: 6/40
Expensive parser function count: 5/100
-->
      <!--
Transclusion expansion time report (%,ms,calls,template)
100.00%    7.929      1 -total
83.38%    6.611      1 Template:Languages
68.94%    5.466      5 Template:Languages/Lang
7.49%    0.594      1 Template:FormToolbar
6.36%    0.504      1 Template:FormCommon
-->

      <!-- Saved in parser cache with key assyst10sp7wiki:pcache:idhash:2568-0!*!0!!*!5!* and timestamp 20200813190106 and revision id 98867
-->
    </div>
    <div class="printfooter">
      Obtida de "<a dir="ltr"
        href="http://wiki.axiossystems.com/assyst10SP7Wiki/index.php?title=Event_Major_Category_Form&amp;oldid=98867">http://wiki.axiossystems.com/assyst10SP7Wiki/index.php?title=Event_Major_Category_Form&amp;oldid=98867</a>"
    </div>
    <div id="catlinks" class="catlinks" data-mw="interface">
      <div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="/assyst10SP7Wiki/index.php/Special:Categories"
          title="Special:Categories">Categorias</a>: <ul>
          <li><a href="/assyst10SP7Wiki/index.php/Category:Online_Help" title="Category:Online Help">Online Help</a>
          </li>
          <li><a href="/assyst10SP7Wiki/index.php/Category:Infrastructure"
              title="Category:Infrastructure">Infrastructure</a></li>
          <li><a href="/assyst10SP7Wiki/index.php/Category:Administration_of_assyst_Course"
              title="Category:Administration of assyst Course">Administration of assyst Course</a></li>
        </ul>
      </div>
    </div>
    <div class="visualClear"></div>
  </div>
</div>